@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700&display=swap');

html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	/* background: #fff;  */
	background: #e5e5e5;

	font-family: 'Noto Sans', sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--gray-light: #EBEBEB;
	--gray: #A4A4A4;
	--gray-dark: #6C7077;
	--white: white;
	--primary: #7351F5;
	--primary-hover: #6344DF;
	--red-light: #FEA291;
	--red: #FC836D;
	--green: #007B48;
	--green-light: #C8F8E4;
	--font-family: 'Noto Sans', sans-serif;
}